<!DOCTYPE html>
{% extends "index.html"%}
{ load static }

{% block main_content%}
<main role="main">
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">WOEZON, les lecteurs</h1>
        <p>Bienvenue au royaume des livres, Nous avons une large collection de livres pour vous satisfaire</p>
        <p><a role="button" href="#" class="btn btn-primary btn-lg"> Checker notre collection>> </a></p>

    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
        <h2>Pourquoi Lire ?</h2>
        <p>Un peu de charabiat</p>
      </div>
      <div class="col">
        <h2>Bien faits</h2>
        <ul>
            <li>Premier point</li>
            <li>Second point</li>
        </ul>
      </div>
      <div class="col">
        <h2>Pensee du jour</h2>
        <p>Encore du charabiat</p>
      </div>
    </div>
        <hr>
  </div>
</main>
<footer class="container">
    <p>@ royaume des livres 2025</p>
</footer>
{% endblock %}