<!DOCTYPE html>
{% extends "index.html"%} { load static } {% block main_content%}

<div
  class="container-flex text-center justify-content-center align-items-center"
  style="
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    vertical-align: middle;
  "
>
  <div
    class="row justify-content-center align-middle"
    style="margin-top: 10px; height: 60px"
  >
    <div class="col-md-4 text-light" style="background-color: #e4d825">
      <h4 style="margin: top 15px">Enregistrer un nouveau lecteur</h4>
    </div>
    <div class="col-md-8">
      <h4>Rechercher un lecteur</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div
        class="container"
        style="overflow-y: auto; height: 600px; background: #ceecf5"
      >
        <form class="d-flex" action="#" method="POST">
          {% csrf_token %}
          <table class="table" style="margin-top: 20px">
            <tr>
              <td
                style="
                  text-align: left;
                  vertical-align: middle;
                  padding-left: 15px;
                "
              >
                Nom :
              </td>
              <td>
                <input type="text" class="form-control" name="reader_name" />
              </td>
            </tr>
            <tr>
              <td
                style="
                  text-align: left;
                  vertical-align: middle;
                  padding-left: 15px;
                "
              >
                Contact :
              </td>
              <td>
                <input type="text" class="form-control" name="reader_contact" />
              </td>
            </tr>
            <tr>
              <td
                style="
                  text-align: left;
                  vertical-align: middle;
                  padding-left: 15px;
                "
              >
                Reference ID :
              </td>
              <td>
                <input type="text" class="form-control" name="reference_id" />
              </td>
            </tr>
            <tr>
              <td
                style="
                  text-align: left;
                  vertical-align: middle;
                  padding-left: 15px;
                "
              >
                Adresse :
              </td>
              <td>
                <textarea class="form-control" name="reader_address"></textarea>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <button class="btn btn-primary" type="submit">
                  Enregistrer
                </button>
              </td>
            </tr>
          </table>
        </form>
        <ul
          style="text-align: left; vertical-align: middle; padding-left: 15px"
        >
          <li>
            <small
              >Les lecteurs ne devront pas etre enregistres plusieurs
              fois</small
            >
          </li>
          <li><small>Les dupicats de lecteurs seront desactiver</small></li>
          <li>
            <small
              >Les Contacts fournis devront etre corrects et sujjettes a des
              verifications</small
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <nav class="navbar bg-body-light">
          <div
            class="container-fluid justify-content-center align-items-center"
          >
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-primary" type="submit">
                Rechercher
              </button>
            </form>
          </div>
        </nav>
      </div>
      <div class="row" style="margin-top: 20px">
        <p>{{readers|length}} Lecteurs abonnés.</p>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="container" style="overflow-y: auto; height: 400px">
          <table class="table table-hover">
            <thead>
              <tr>
                <td>ID du lecteur</td>
                <td>Nom</td>
                <td>Contact</td>
                <td>Reference ID</td>
                <td>Adresse</td>
              </tr>
            </thead>
            <tbody>
              {% for reader in readers %}
              <tr>
                <td>
                  {% if reader.active %}
                  <span class="btn btn-success">{{ reader.reader_name }}</span>
                  {% else %}
                  <span class="btn btn-secondary"
                    >{{ reader.reader_name }}</span
                  >
                  {% endif %}
                </td>
                <td>{{ reader.reader_contact }}</td>
                <td>{{ reader.reference_id }}</td>
                <td>{{ reader.reader_address }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
